body{
  background-color: #140024;
  h2, h3{
    color: gray;
    text-align: center;
  }
}
.upLine{
  opacity: 0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img{
    width: 150px;
  }

}

.centerLine{
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo{
    img{
      width: 150px;
      filter: invert(50%);
      transition: transform .5s;
    }
    img:hover{
      transform: rotate(-45deg);

    }
  }
  #firstScreenTitle{
    opacity: 0;
    transition: 1s;
    color: gray;
  }
}
.downLine{
  opacity: 0;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img{
    width: 150px;
  }
  .nude{

  }
  .contact{

  }
}